<nav class="navbar">
  <a routerLink="/" routerLinkActive="active" class="nav-item">
    <span class="icon">🏠</span>
    <span class="label">Home</span>
  </a>

  <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
    <span class="icon">📊</span>
    <span class="label">Dashboard</span>
  </a>

  <a routerLink="/medicamentos" routerLinkActive="active" class="nav-item">
    <span class="icon">💊</span>
    <span class="label">Meds</span>
  </a>

  <a routerLink="/perfil" routerLinkActive="active" class="nav-item">
    <span class="icon">👤</span>
    <span class="label">Perfil</span>
  </a>
</nav>
