<nav class="navbar">
  <a
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="nav-item"
  >
    <lucide-angular [img]="icons.home" size="22"></lucide-angular>
    <span>Inicio</span>
  </a>

  <a routerLink="/dashboard" routerLinkActive="active" class="nav-item">
    <lucide-angular [img]="icons.dashboard" size="22"></lucide-angular>
    <span>Botiquín</span>
  </a>

  <a routerLink="/medicamentos" routerLinkActive="active" class="nav-item">
    <lucide-angular [img]="icons.meds" size="22"></lucide-angular>
    <span>Meds</span>
  </a>

  <a routerLink="/perfil" routerLinkActive="active" class="nav-item">
    <lucide-angular [img]="icons.profile" size="22"></lucide-angular>
    <span>Perfil</span>
  </a>
</nav>
