<div>
  <div class="header">
    <h2>Bienvenido</h2>
  </div>

  <div class="family-section">
    <h2 class="section-title">PERFILES DE FAMILIA</h2>

    <div class="card-container">
      @for (profile of profiles; track profile.id) {
        <div class="profile-card">
          <div class="avatar">
            <span class="initials">{{ profile.initials }}</span>
          </div>
          <h3 class="name">{{ profile.name }}</h3>
          <p class="count">{{ profile.medicines.length }} medicamentos</p>
        </div>
      }
    </div>
  </div>

  <div class="locations-section">
    <h2 class="section-title">LUGARES DE ALMACENAMIENTO</h2>

    <div class="grid-container">
      @for (location of locations; track location.id) {
        <div class="location-card">
          <div class="icon">
            <lucide-icon name="home" [img]="icons.house" [size]="24"> </lucide-icon>
          </div>
          <div class="location-info">
            <h3>{{ location.name }}</h3>
            <span>{{ location.description }}</span>

            <span class="count">{{ location.quantity }} medicamentos</span>
          </div>
        </div>
      }

      <button class="btn-add-location" routerLink="add-location">
        <lucide-icon name="plus" [img]="icons.plus" [size]="18"> </lucide-icon>
        Nueva ubicación
      </button>
    </div>
  </div>
</div>
